.grid-container{
    
    background-repeat:no-repeat;
    background-size: cover;
    height: 700px;
    width: 1000px;
    background-color: rgb(255,55,150);
    border: 10px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-gap: 10px 10px;
    justify-content: start;
    /*align-items: start;*/
    grid-template-areas: "header header"
    "main1 main1"
    "main2 sider1"
    "main2 sider2"
    "footer footer";
}
.grid-item1{
    border:2px solid blue ;
    background-color:aqua ;
    /*justify-self: end;
    align-self: start;*/
    /*grid-column:1 /3 ;*/
    grid-area: header;

}
.grid-item2{
    border:2px solid blue ;
    background-color: yellow;
    /*grid-column:1 /3 ;*/
    grid-area: main1;

}
.grid-item3{
    border:2px solid blue ;
    background-color: orangered;
    /*grid-row:3 /5;*/
    grid-area: main2;

}
.grid-item4{
    border:2px solid blue ;
    background-color:darkcyan;
    grid-area: sider1;

}
.grid-item5{
    border:2px solid blue ;
    background-color: orange;
    grid-area: sider2;

}
.grid-item6{
    border:2px solid blue ;
    background-color:brown;
    /*grid-column: 1/3;*/
    grid-area: footer;

}
/*.grid-item7{
    border:2px solid blue ;
    background-color:green;

}*/